{% extends "master.html" %}

  <!-- DELETE Modal -->
   {% block deleteModal %}
        <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete confirmation</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this blog post? With all the comments and likes?
                    <input type="hidden" id="blogid" />
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" onclick="deletePost()">Yes, I am sure</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No, I'll leave it</button>
                </div>
            </div>
        </div>
    </div>
   {% endblock %}
     <!-- End DELETE Modal -->
<!-- nav area -->
{% block navigationArea %}
     <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <span class="h4 navbar-text">Multi user Blog</span>
                    </div>

                    {% if username %}
                    <div class="col-xs-6">
                        <span class="h4 pull-right">

        <div class="btn-group">
            <button class="btn btn-default">{{username}}</button>
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/blog/newpost"><span class="glyphicon glyphicon-plus"> </span> New Post</a></li>
                           <!-- <li><a href="#"><span class="glyphicon glyphicon-list"> </span> Drafts</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-cog"> </span> Account Settings</a></li>-->
                            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"> </span> Logout</a></li>

                        </ul>
                    </div>
                    </span>
                </div>

                {% endif %} {% if not username %}
                <div class="col-xs-6 text-right">
                    <span class="pull-right"><a href="/signup" class="mainlink text-right"><span class="h4 navbar-text">Sign up / </span></a>
                    <a
                        href="/login" class="mainlink text-right"><span class="h4 navbar-text noleft">Login</span></a>
                        </span>

                </div>
                {% endif %}
            </div>
    </div>
    </nav>
    </nav>
{% endblock %}
<!-- End nav area -->

{% block mainContainArea %}
        <div class="row">
            <div class="col-xs-12">
        <h2>Edit your post</h2></div>
        </div>
        <form method="POST">
            <input type="hidden" name="blogid" value="{{ blogid }}"" />
            <div class="form-group">
              <label for="inputsubject" class="control-label col-sm-2">Subject</label>
              <div class="col-sm-10">
                  <input class="form-control" placeholder="Subject"
                          type="text" name="subject" value="{{ subject }}"/>
              </div>
          </div>

            <br><br>
            <div class="form-group">
              <label for="inputContent" class="control-label col-sm-2">Content</label>
              <div class="col-sm-10">
                  <textarea name="content" placeholder="Make your point here..." class="form-control" rows="10">{{contents}}</textarea>
              </div>
          </div>
            <br><br>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">

            <p class="error">{{error_msg}}</p>

                </div>
            </div>
             <br>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-2">
            <button type="submit" class="btn btn-default">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Publish
</button>
            </div>


            <div class="col-xs-2">
            <button type="button" class="btn btn-default" onclick="setTimeout(goBack, 1000); return false;">
  <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>  Cancel
</button>
            </div>

            </div>
        </form>
{% endblock %}
<!-- End of  mainContainArea -->

{% block footerScript %}
    <script src="/static/js/editpost.js"></script>
{% endblock %}